@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <br />
    <br />
    <div class="row">
        <div class="col-auto mx-auto">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item border-0">
                    <h2>Studies:</h2>
                    <div class="row">
                        <div class="col-auto mx-auto">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item border-0"><p>Computer Science BSc @@ Coventry University</p><p>2018-2021</p></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <h2>Programming Expertise:</h2>
                    <br />
                    <div class="row">
                        <div class="col-auto mx-auto">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item border-0">C#/.Net Framework <p>Middle Developer</p></li>
                                <li class="list-group-item border-0">Python <p>Junior Developer</p></li>
                                <li class="list-group-item border-0">Web Development (HTML/CSS/JS) <p>Junior Developer</p></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-auto mx-auto">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item border-0">
                    <h2>Language Qualifications:</h2>
                    <br />
                    <div class="row">
                        <div class="col-auto mx-auto">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item border-0">
                                    <h4>English - IELTS 7.5 Overall</h4>
                                    <div class="row">
                                        <div class="col-auto mx-auto">
                                            <ul class="list-group list-group-horizontal">
                                                <li class="list-group-item border-0">Reading <p>8.5</p></li>
                                                <li class="list-group-item border-0">Speaking <p>8.5</p></li>
                                                <li class="list-group-item border-0">Listening <p>8.0</p></li>
                                                <li class="list-group-item border-0">Writing <p>5.5</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <h4>Spanish - Native Speaker</h4>
                                    <div class="row">
                                        <div class="col-auto mx-auto">
                                            <ul class="list-group list-group-horizontal">
                                                <li class="list-group-item border-0">IB Exam <p>Langauge A SL 5</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <h4>French</h4>
                                    <div class="row">
                                        <div class="col-auto mx-auto">
                                            <ul class="list-group list-group-horizontal">
                                                <li class="list-group-item border-0">DELF B1 <p>65%</p></li>
                                                <li class="list-group-item border-0">IB Exam <p>Language B HL 5</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-auto mx-auto">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item border-0">
                    <h2>Contact:</h2>
                    <br />
                    <div class="row">
                        <div class="col-auto mx-auto">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item border-0"><a href="mailto:pustalorc@gmail.com">E-Mail</a></li>
                                <li class="list-group-item border-0"><a href="https://www.linkedin.com/in/vicente-p-676002173/">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>