@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Studies:</h2>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Computer Science BSc @@ Coventry University</p><p>2018-2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>Programming Expertise:</h2>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            C#/.Net Framework <p>Middle Developer</p>
                        </div>
                        <div class="col">
                            Python <p>Junior Developer</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Web Development (HTML/CSS/JS) <p>Junior Developer</p>
                        </div>
                        <div class="col">
                            C/C++ <p>Junior Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Language Qualifications:</h2>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>English - IELTS 7.5 Overall</h4>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        Reading <p>8.5</p>
                                    </div>
                                    <div class="col">
                                        Speaking <p>8.5</p>
                                    </div>
                                    <div class="col">
                                        Listening <p>8.0</p>
                                    </div>
                                    <div class="col">
                                        Writing <p>5.5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h4>Spanish - Native Speaker</h4>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        IB Exam <p>Langauge A SL 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h4>French</h4>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        DELF B1 <p>65%</p>
                                    </div>
                                    <div class="col">
                                        IB Exam <p>Language B HL 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Contact:</h2>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="mailto:pustalorc@gmail.com">E-Mail</a>
                        </div>
                        <div class="col">
                            <a href="https://www.linkedin.com/in/vicente-p-676002173/">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>