@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vicente "Pustalorc" Pastor</h1>
    <p>Self-Employed Software Developer and Computer Science Student at Coventry University.</p>
    <br/>
    <div class="list-group-horizontal-xl">
        <a asp-action="Portfolio">
            <img class="list-group-item" src="~/img/portfolio" alt="portfolio"/>
        </a>
        <a asp-action="About">
            <img class="list-group-item" src="~/img/about.jpg" alt="about_me"/>
        </a>
    </div>
</div>