@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vicente "Pustalorc" Pastor</h1>
    <p>Self-Employed Software Developer and Computer Science Student at Coventry University.</p>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-action="Portfolio">
                    <img class="correctImageSize" src="~/img/portfolio.png" alt="portfolio" />
                </a>
            </div>
            <div class="col">
                <a asp-action="About">
                    <img class="correctImageSize" src="~/img/about.png" alt="about me" />
                </a>
            </div>
        </div>
    </div>
</div>