@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Open Sourced Projects</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://github.com/Pustalorc/BaseClustering">Base Clustering</a>
                    </h2>
                    <p>An Unturned Plugin that groups up elements around the map to define a base. Code can be generically used to cluster anything with a distance limit.</p>
                    <br />
                </div>
            </div>
            <div class="col">
                <div class="project">
                    <h2>
                        Contributor to: <a href="https://github.com/openmod/openmod">OpenMod</a>
                    </h2>
                    <p>Contributed to the OpenMod project, with minor changes, bug fixes, but the important contribution of the Buildables Abstraction and their transform event.</p>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://pustalorc.github.io/UnturnedServerManager/">Unturned Server Manager</a>
                    </h2>
                    <p>A lightweight program to make creating, running, and modifying unturned servers much easier.</p>
                    <br />
                </div>
            </div>
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://github.com/Pustalorc/MySqlConnectorWrapper">MySql Connector Wrapper</a>
                    </h2>
                    <p>A Wrapper for both MySql.Data and MySqlConnector that implements FrequencyCache and asynchronous methods, making the development of MySql products a much simpler experience.</p>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://github.com/Pustalorc/pustalorc.xyz">pustalorc.xyz</a>
                    </h2>
                    <p>The repository handling the backbones of how this whole website runs.</p>
                    <br />
                </div>
            </div>
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://github.com/Pustalorc/api.pustalorc.xyz">api.pustalorc.xyz</a>
                    </h2>
                    <p>The repository handling the backbones of how <a href="https://api.pustalorc.xyz/">the API</a> runs</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h1 class="display-4">University Projects</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://pustalorc.github.io/awesomebot/">Slack Bot</a>
                    </h2>
                    <p>A somewhat useful (to some extent, and debatably) chatbot for slack with multiple features that students may like or want.</p>
                    <br />
                </div>
            </div>
            <div class="col">
                <div class="project">
                    <h2>
                        <a href="https://github.coventry.ac.uk/charle44/Music-Website/">"My Music" Web Project</a>
                    </h2>
                    <p>Interactive website that allows users to upload any music and share it with anyone in the planet!</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>