
@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Open Sourced Projects</h1>
    <br />
    <h2><a href="https://pustalorc.github.io/UnturnedServerManager/">Unturned Server Manager</a></h2>
    <p>A lightweight program to make creating, running, and modifying unturned servers much easier.</p>
    <br />
    <h2><a href="https://github.com/Pustalorc/Support-Bot">Support Bot</a></h2>
    <p>Interatcive discord bot that attempts to learn and help people.</p>
    <br />
    <h2><a href="https://github.com/Pustalorc/MySqlConnectorWrapper">MySql Connector Wrapper</a></h2>
    <p>A full fledged MySql Connector Wrapper that implements Queueing and Caching for a near seamless experience when developing products that require connections to remote MySql databases.</p>
    <br />
    <br />
    <h1 class="display-4">University Projects</h1>
    <h2><a href="https://pustalorc.github.io/awesomebot/">Slack Bot</a></h2>
    <p>A somewhat useful (to some extent, and debatably) chatbot for slack with multiple features that students may like or want.</p>
    <br />
    <h2><a href="https://mymusic.pustalorc.xyz/">"My Music" Web Project</a></h2>
    <p>Interactive website that allows users to upload any music and share it with anyone in the planet!</p>
</div>